<%- include('../partials/head.ejs') %>

<%- include('../partials/navbar.ejs') %>

<%- include('../partials/profileView.ejs') %>

<%- include('../partials/profileNavbar.ejs') %>
<style>
    .wrapper {
        max-height: 320px;
        height: 320px;
        border: 1px solid #ddd;
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .item {
        margin: 1% 2%;
    }

    .wrapper .item {
        min-width: 182px;
        height: 110px;
        /* line-height: 110px; */
        text-align: center;
        background-color: #ddd;
        margin-right: 2px;
    }

    .btn {
        padding: 5px;
        margin: 0;
    }

    .modalBtn {
        padding: 20px;
    }

    .modal-body {
        background-color: grey;
        color: white;
    }

    .form-modal {
        background-color: lightslategray;
    }
</style>
<div class="input-group rounded my-2">
    <h3 style="text-align: center; margin-right: 70%;">Regular Patients</h3>
    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
        aria-describedby="search-addon" />
    <button type="submit" style="cursor: pointer;" class="input-group-text border-0" id="search-addon">
        <i class="fas fa-search"></i>
    </button>
</div>
<div class="wrapper">
    <!-- Product-1 -->
    <div class="item">
        <div class="card">
            <img class="card-img-top" src="https://th.bing.com/th/id/OIP.N_QuR94NnoxktbrCAr_yVAHaHa?pid=ImgDet&rs=1"
                width="100" height="155">
            <div class="card-body">
                <h5 class="card-title" style="color: #000;"> Monogram </h5>
                <button type="submit" class="btn btn-info" style="float:left"><i
                        class="fas fa-address-book"></i></button>
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#adviseModal">Advise <i
                        class="fas fa-notes-medical"></i></button>
                <button class="btn btn-danger" style="float:right"><i class="fas fa-trash-alt"></i></button>
            </div>
        </div>
    </div>
    <!-- Product-2 -->
    <div class="item mr-2">
        <div class="card">
            <img class="card-img-top"
                src="https://images.cdn1.stockunlimited.net/preview1300/set-of-abstract-logo-elements_1939319.jpg"
                width="100" height="155">
            <div class="card-body">
                <h5 class="card-title" style="color: #000;"> Abstract Logo </h5>
                <button type="submit" class="btn btn-info" style="float:left"><i
                        class="fas fa-address-book"></i></button>
                <button class="btn btn-success">Advise <i class="fas fa-notes-medical"></i></button>
                <button class="btn btn-danger" style="float:right"><i class="fas fa-trash-alt"></i></button>
            </div>
        </div>
    </div>
    <!-- Product-3 -->
    <div class="item mr-2">
        <div class="card">
            <img class="card-img-top" src="https://th.bing.com/th/id/OIP.STpCrwQGL049wi_VT6YuWQHaFj?pid=ImgDet&rs=1"
                width="100" height="155">
            <div class="card-body">
                <h5 class="card-title" style="color: #000;"> Mascot Logo </h5>
                <button type="submit" class="btn btn-info" style="float:left"><i
                        class="fas fa-address-book"></i></button>
                <button class="btn btn-success">Advise <i class="fas fa-notes-medical"></i></button>
                <button class="btn btn-danger" style="float:right"><i class="fas fa-trash-alt"></i></button>
            </div>
        </div>
    </div>

    <!-- extra  -->


    <!-- Product-1 -->
    <div class="item mr-2">
        <div class="card">
            <img class="card-img-top" src="https://th.bing.com/th/id/OIP.N_QuR94NnoxktbrCAr_yVAHaHa?pid=ImgDet&rs=1"
                width="100" height="155">
            <div class="card-body">
                <h5 class="card-title" style="color: #000;"> Monogram </h5>
                <button type="submit" class="btn btn-info" style="float:left"><i
                        class="fas fa-address-book"></i></button>
                <button class="btn btn-success">Advise <i class="fas fa-notes-medical"></i></button>
                <button class="btn btn-danger" style="float:right"><i class="fas fa-trash-alt"></i></button>
            </div>
        </div>
    </div>
    <!-- Product-2 -->
    <div class="item mr-2">
        <div class="card">
            <img class="card-img-top"
                src="https://images.cdn1.stockunlimited.net/preview1300/set-of-abstract-logo-elements_1939319.jpg"
                width="100" height="155">
            <div class="card-body">
                <h5 class="card-title" style="color: #000;"> Abstract Logo </h5>
                <button type="submit" class="btn btn-info" style="float:left"><i
                        class="fas fa-address-book"></i></button>
                <button class="btn btn-success">Advise <i class="fas fa-notes-medical"></i></button>
                <button class="btn btn-danger" style="float:right"><i class="fas fa-trash-alt"></i></button>
            </div>
        </div>
    </div>
    <!-- Product-3 -->
    <div class="item mr-2">
        <div class="card">
            <img class="card-img-top" src="https://th.bing.com/th/id/OIP.STpCrwQGL049wi_VT6YuWQHaFj?pid=ImgDet&rs=1"
                width="100" height="155">
            <div class="card-body">
                <h5 class="card-title" style="color: #000;"> Mascot Logo </h5>
                <button type="submit" class="btn btn-info" style="float:left"><i
                        class="fas fa-address-book"></i></button>
                <button class="btn btn-success">Advise <i class="fas fa-notes-medical"></i></button>
                <button class="btn btn-danger" style="float:right"><i class="fas fa-trash-alt"></i></button>
            </div>
        </div>
    </div>
    <!-- Product-1 -->
    <div class="item mr-2">
        <div class="card">
            <img class="card-img-top" src="https://th.bing.com/th/id/OIP.N_QuR94NnoxktbrCAr_yVAHaHa?pid=ImgDet&rs=1"
                width="100" height="155">
            <div class="card-body">
                <h5 class="card-title" style="color: #000;"> Monogram </h5>
                <button type="submit" class="btn btn-info" style="float:left"><i
                        class="fas fa-address-book"></i></button>
                <button class="btn btn-success">Advise <i class="fas fa-notes-medical"></i></button>
                <button class="btn btn-danger" style="float:right"><i class="fas fa-trash-alt"></i></button>
            </div>
        </div>
    </div>
    <!-- Product-2 -->
    <div class="item mr-2">
        <div class="card">
            <img class="card-img-top"
                src="https://images.cdn1.stockunlimited.net/preview1300/set-of-abstract-logo-elements_1939319.jpg"
                width="100" height="155">
            <div class="card-body">
                <h5 class="card-title" style="color: #000;"> Abstract Logo </h5>
                <button type="submit" class="btn btn-info" style="float:left"><i
                        class="fas fa-address-book"></i></button>
                <button class="btn btn-success">Advise <i class="fas fa-notes-medical"></i></button>
                <button class="btn btn-danger" style="float:right"><i class="fas fa-trash-alt"></i></button>
            </div>
        </div>
    </div>
    <!-- Product-3 -->
    <div class="item mr-2">
        <div class="card">
            <img class="card-img-top" src="https://th.bing.com/th/id/OIP.STpCrwQGL049wi_VT6YuWQHaFj?pid=ImgDet&rs=1"
                width="100" height="155">
            <div class="card-body">
                <h5 class="card-title" style="color: #000;"> Mascot Logo </h5>
                <button type="submit" class="btn btn-info" style="float:left"><i
                        class="fas fa-address-book"></i></button>
                <button class="btn btn-success">Advise <i class="fas fa-notes-medical"></i></button>
                <button class="btn btn-danger" style="float:right"><i class="fas fa-trash-alt"></i></button>
            </div>
        </div>
    </div>

</div>

<!-- Second Portion -->
<div class="input-group rounded my-2">
    <h3 style="text-align: center; margin-right: 74%;">Requests</h3>
    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
        aria-describedby="search-addon" />
    <button type="submit" style="cursor: pointer;" class="input-group-text border-0" id="search-addon">
        <i class="fas fa-search"></i>
    </button>
</div>
<div class="wrapper">
    <!-- Product-1 -->
    <div class="item mr-2">
        <div class="card">
            <img class="card-img-top" src="https://th.bing.com/th/id/OIP.N_QuR94NnoxktbrCAr_yVAHaHa?pid=ImgDet&rs=1"
                width="100" height="155">
            <div class="card-body">
                <h5 class="card-title" style="color: #000;"> Monogram </h5>
                <button type="submit" class="btn btn-primary" style="float:left">Approve</button>
                <button class="btn btn-danger" style="float:right">Deny</button>
            </div>
        </div>
    </div>
    <!-- Product-2 -->
    <div class="item mr-2">
        <div class="card">
            <img class="card-img-top"
                src="https://images.cdn1.stockunlimited.net/preview1300/set-of-abstract-logo-elements_1939319.jpg"
                width="100" height="155">
            <div class="card-body">
                <h5 class="card-title" style="color: #000;"> Abstract Logo </h5>
                <button type="submit" class="btn btn-primary" style="float:left">Approve</button>
                <button class="btn btn-danger" style="float:right">Deny</button>
            </div>
        </div>
    </div>
    <!-- Product-3 -->
    <div class="item mr-2">
        <div class="card">
            <img class="card-img-top" src="https://th.bing.com/th/id/OIP.STpCrwQGL049wi_VT6YuWQHaFj?pid=ImgDet&rs=1"
                width="100" height="155">
            <div class="card-body">
                <h5 class="card-title" style="color: #000;"> Mascot Logo </h5>
                <button type="submit" class="btn btn-primary" style="float:left">Approve</button>
                <button class="btn btn-danger" style="float:right">Deny</button>
            </div>
        </div>
    </div>

    <!-- extra  -->


    <!-- Product-1 -->
    <div class="item mr-2">
        <div class="card">
            <img class="card-img-top" src="https://th.bing.com/th/id/OIP.N_QuR94NnoxktbrCAr_yVAHaHa?pid=ImgDet&rs=1"
                width="100" height="155">
            <div class="card-body">
                <h5 class="card-title" style="color: #000;"> Monogram </h5>
                <button type="submit" class="btn btn-primary" style="float:left">Approve</button>
                <button class="btn btn-danger" style="float:right">Deny</button>
            </div>
        </div>
    </div>
    <!-- Product-2 -->
    <div class="item mr-2">
        <div class="card">
            <img class="card-img-top"
                src="https://images.cdn1.stockunlimited.net/preview1300/set-of-abstract-logo-elements_1939319.jpg"
                width="100" height="155">
            <div class="card-body">
                <h5 class="card-title" style="color: #000;"> Abstract Logo </h5>
                <button type="submit" class="btn btn-primary" style="float:left">Approve</button>
                <button class="btn btn-danger" style="float:right">Deny</button>
            </div>
        </div>
    </div>
    <!-- Product-3 -->
    <div class="item mr-2">
        <div class="card">
            <img class="card-img-top" src="https://th.bing.com/th/id/OIP.STpCrwQGL049wi_VT6YuWQHaFj?pid=ImgDet&rs=1"
                width="100" height="155">
            <div class="card-body">
                <h5 class="card-title" style="color: #000;"> Mascot Logo </h5>
                <button type="submit" class="btn btn-primary" style="float:left">Approve</button>
                <button class="btn btn-danger" style="float:right">Deny</button>
            </div>
        </div>
    </div>
    <!-- Product-1 -->
    <div class="item mr-2">
        <div class="card">
            <img class="card-img-top" src="https://th.bing.com/th/id/OIP.N_QuR94NnoxktbrCAr_yVAHaHa?pid=ImgDet&rs=1"
                width="100" height="155">
            <div class="card-body">
                <h5 class="card-title" style="color: #000;"> Monogram </h5>
                <button type="submit" class="btn btn-primary" style="float:left">Approve</button>
                <button class="btn btn-danger" style="float:right">Deny</button>
            </div>
        </div>
    </div>
    <!-- Product-2 -->
    <div class="item mr-2">
        <div class="card">
            <img class="card-img-top"
                src="https://images.cdn1.stockunlimited.net/preview1300/set-of-abstract-logo-elements_1939319.jpg"
                width="100" height="155">
            <div class="card-body">
                <h5 class="card-title" style="color: #000;"> Abstract Logo </h5>
                <button type="submit" class="btn btn-primary" style="float:left">Approve</button>
                <button class="btn btn-danger" style="float:right">Deny</button>
            </div>
        </div>
    </div>
    <!-- Product-3 -->
    <div class="item mr-2">
        <div class="card">
            <img class="card-img-top" src="https://th.bing.com/th/id/OIP.STpCrwQGL049wi_VT6YuWQHaFj?pid=ImgDet&rs=1"
                width="100" height="155">
            <div class="card-body">
                <h5 class="card-title" style="color: #000;"> Mascot Logo </h5>
                <button type="submit" class="btn btn-primary" style="float:left">Approve</button>
                <button class="btn btn-danger" style="float:right">Deny</button>
            </div>
        </div>
    </div>

</div>

<div class="modal fade" id="adviseModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" style="margin-top: 17%;">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <div class="row">
                    <div class="col-sm-12 text-center col-xs-height my-4">
                        <div>
                            <a href="#" data-toggle="modal" data-target="#formModal"
                                class="modalBtn btn btn-success mt-4 mb-4">Prescribe</a>
                        </div>
                        <div>
                            <a href="#" class="modalBtn btn btn-warning mb-4">Diagnose</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="margin-top: 17%;">
        <div class="modal-content">
            <div class="modal-body form-modal">
                <form action="">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4>Create a Prescription</h4>
                    <div class="row">
                        <div class="col-sm-9 mb-2">
                            <div>
                                <label for="patientName">Patient Name</label>
                                <input id="patientName" class="form-control rounded col-xs-12" type="text"
                                    placeholder="Patient Name" disabled>

                            </div>
                        </div>
                        <div class="col-sm-3 mb-2">
                            <label for="tDate">Date</label>
                            <input id="tDate" class="form-control" type="text" class="form-control rounded"
                                name="prescribedDate" value="<%= new Date().toDateString() %>" disabled>
                        </div>
                        <div class="col-sm-3 mb-2">
                            <div>
                                <label for="pDOB">Date Of Birth</label>
                                <input id="pDOB" class="form-control rounded col-xs-12" type="date"
                                    placeholder="Date of Birth" disabled>
                            </div>
                        </div>
                        <div class="col-sm-3 mb-2">
                            <label for="pAge">Age</label>
                            <input id="pAge" type="number" class="form-control rounded" name="patientAge"
                                placeholder="Age" value="" disabled>
                        </div>
                        <div class="col-sm-3 mb-2">
                            <label for="pSex">Sex</label>
                            <input id="pSex" type="text" class="form-control rounded" name="paitientSex"
                                placeholder="Sex" value="" disabled>
                        </div>
                        <div class="col-sm-3 mb-2">
                            <label for="pOccupation">Occupation</label>
                            <input id="pOccupation" type="text" class="form-control rounded" name="paitientOccupation"
                                placeholder="Occupation" value="" disabled>
                        </div>
                        <div class="col-sm-9 mb-2">
                            <label for="pAddress">Address</label>
                            <input id="pAddress" type="text" class="form-control rounded" name="paitientOccupation"
                                placeholder="Address" value="" disabled>
                        </div>
                        <div class="col-sm-3 mb-2">
                            <label for="pPhoneNum">Cell No</label>
                            <input id="pPhoneNum" type="number" class="form-control rounded" name="paitientOccupation"
                                placeholder="Phone Number" value="" disabled>
                        </div>

                        <div class="col-sm-12 text-center col-xs-height">
                            <div>
                                <input id="dName" class="form-control rounded col-xs-12 mb-2" type="text"
                                    name="diseaseName" placeholder="Disease Name" value="">
                                <textarea class="form-control rounded mb-2" name="" id="" cols="30" rows="3"
                                    name="diseaseName" placeholder="Disease Description"></textarea>
                            </div>
                        </div>

                        <div class="col-sm-12 col-xs-height">
                            <div>
                                <ul class="row list-unstyled" id="medicineList">
                                    <li class="col-sm-6 mb-2">
                                        <label for="medicineName">Madicne Name:</label>
                                        <input id="medicineName" type="text" class="form-control rounded"
                                            name="medicineName" value="" placeholder="Medecine">
                                    </li>
                                    <li class="col-sm-6 mb-2">
                                        <label for="dRange">Date Range</label>
                                        <input id="dRange" type="date" class="form-control rounded" name="dateRange"
                                            value="" placeholder="Date Range">
                                    </li>
                                    <li class="col-sm-12 mb-1">
                                        <label for="">Time:</label>
                                    </li>
                                    <li class="col-sm-6 mb-2">
                                        <input class="form-control rounded" type="time">
                                    </li>
                                    <li class="col-sm-6 mb-2">
                                        <input class="form-control rounded" type="time">
                                    </li>
                                    <li class="col-sm-6 mb-2">
                                        <input class="form-control rounded" type="time">
                                    </li>
                                    <li class="col-sm-6 mb-2">
                                        <input class="form-control rounded" type="time">
                                    </li>
                                </ul>
                            </div>
                            <div>
                                <button type="button" id="addMedicineBtn" class="btn btn-warning">Add Medicine</button>
                            </div>
                            <div>
                                <button style="float: right" class="btn btn-success" type="submit">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<script>
    $('#addMedicineBtn').click(function () {
        let addMedicine = `<li class="col-sm-6 mb-2">
                                        <label for="medicineName">Madicne Name:</label>
                                        <input id="medicineName" type="text" class="form-control rounded"
                                            name="medicineName" value="" placeholder="Medecine">
                                    </li>
                                    <li class="col-sm-6 mb-2">
                                        <label for="dRange">Date Range</label>
                                        <input id="dRange" type="date" class="form-control rounded" name="dateRange"
                                            value="" placeholder="Date Range">
                                    </li>
                                    <li class="col-sm-12 mb-1">
                                        <label for="">Time:</label>
                                    </li>
                                    <li class="col-sm-6 mb-2">
                                        <input class="form-control rounded" type="time">
                                    </li>
                                    <li class="col-sm-6 mb-2">
                                        <input class="form-control rounded" type="time">
                                    </li>
                                    <li class="col-sm-6 mb-2">
                                        <input class="form-control rounded" type="time">
                                    </li>
                                    <li class="col-sm-6 mb-2">
                                        <input class="form-control rounded" type="time">
                                    </li>`
        $('#medicineList').append(addMedicine);
    })
</script>
<%- include('../partials/footer.ejs') %>