<%- include('../partials/head.ejs') %>

<%- include('../partials/navbar.ejs') %>

<%- include('../partials/profileView.ejs') %>

<%- include('../partials/profileNavbar.ejs') %>
<style>
    .wrapper {
        max-height: 320px;
        height: 320px;
        border: 1px solid #ddd;
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .item {
        margin: 1% 2%;
    }

    .wrapper .item {
        min-width: 182px;
        height: 110px;
        /* line-height: 110px; */
        text-align: center;
        background-color: #ddd;
        margin-right: 2px;
    }

    .btn {
        padding: 5px;
    }
</style>
<div class="container-fluid rounded my-2">
    <div class="row">
            <h3 class="col-sm-8">Consultant</h3>
        <div class="input-group col-sm-4 my-1">
            <input class="form-control" type="search" placeholder="search">
            <span class="input-group-append">
              <button class="form-control btn btn-outline-secondary" type="button">
                  <i class="fa fa-search"></i>
              </button>
            </span>
      </div>
    </div>
</div>

<div class="wrapper">
    <!-- Product-1 -->
    <div class="item">
        <div class="card">
            <img class="card-img-top" src="https://th.bing.com/th/id/OIP.N_QuR94NnoxktbrCAr_yVAHaHa?pid=ImgDet&rs=1"
                width="100" height="155">
            <div class="card-body">
                <h5 class="card-title" style="color: #000;"> Monogram </h5>
                <button type="submit" class="btn btn-info" style="float:left"><i
                        class="fas fa-address-book"></i></button>
                <button data-toggle="modal" data-target="#appointmentModal" class="btn btn-secondary"><i
                        class="fas fa-calendar-check"></i></button>
                <button class="btn btn-danger" style="float:right"><i class="fas fa-trash-alt"></i></button>

            </div>
        </div>
    </div>
    <!-- Product-2 -->
    <div class="item mr-2">
        <div class="card">
            <img class="card-img-top"
                src="https://images.cdn1.stockunlimited.net/preview1300/set-of-abstract-logo-elements_1939319.jpg"
                width="100" height="155">
            <div class="card-body">
                <h5 class="card-title" style="color: #000;"> Abstract Logo </h5>
                <button type="submit" class="btn btn-info" style="float:left">View</button>
                <button class="btn btn-danger" style="float:right">Remove</button>
            </div>
        </div>
    </div>
    <!-- Product-3 -->
    <div class="item mr-2">
        <div class="card">
            <img class="card-img-top" src="https://th.bing.com/th/id/OIP.STpCrwQGL049wi_VT6YuWQHaFj?pid=ImgDet&rs=1"
                width="100" height="155">
            <div class="card-body">
                <h5 class="card-title" style="color: #000;"> Mascot Logo </h5>
                <button type="submit" class="btn btn-info" style="float:left">View</button>
                <button class="btn btn-danger" style="float:right">Remove</button>
            </div>
        </div>
    </div>

    <!-- extra  -->


    <!-- Product-1 -->
    <div class="item mr-2">
        <div class="card">
            <img class="card-img-top" src="https://th.bing.com/th/id/OIP.N_QuR94NnoxktbrCAr_yVAHaHa?pid=ImgDet&rs=1"
                width="100" height="155">
            <div class="card-body">
                <h5 class="card-title" style="color: #000;"> Monogram </h5>
                <button type="submit" class="btn btn-info" style="float:left">View</button>
                <button class="btn btn-danger" style="float:right">Remove</button>
            </div>
        </div>
    </div>
    <!-- Product-2 -->
    <div class="item mr-2">
        <div class="card">
            <img class="card-img-top"
                src="https://images.cdn1.stockunlimited.net/preview1300/set-of-abstract-logo-elements_1939319.jpg"
                width="100" height="155">
            <div class="card-body">
                <h5 class="card-title" style="color: #000;"> Abstract Logo </h5>
                <button type="submit" class="btn btn-info" style="float:left">View</button>
                <button class="btn btn-danger" style="float:right">Remove</button>
            </div>
        </div>
    </div>
    <!-- Product-3 -->
    <div class="item mr-2">
        <div class="card">
            <img class="card-img-top" src="https://th.bing.com/th/id/OIP.STpCrwQGL049wi_VT6YuWQHaFj?pid=ImgDet&rs=1"
                width="100" height="155">
            <div class="card-body">
                <h5 class="card-title" style="color: #000;"> Mascot Logo </h5>
                <button type="submit" class="btn btn-info" style="float:left">View</button>
                <button class="btn btn-danger" style="float:right">Remove</button>
            </div>
        </div>
    </div>
    <!-- Product-1 -->
    <div class="item mr-2">
        <div class="card">
            <img class="card-img-top" src="https://th.bing.com/th/id/OIP.N_QuR94NnoxktbrCAr_yVAHaHa?pid=ImgDet&rs=1"
                width="100" height="155">
            <div class="card-body">
                <h5 class="card-title" style="color: #000;"> Monogram </h5>
                <button type="submit" class="btn btn-info" style="float:left">View</button>
                <button class="btn btn-danger" style="float:right">Remove</button>
            </div>
        </div>
    </div>
    <!-- Product-2 -->
    <div class="item mr-2">
        <div class="card">
            <img class="card-img-top"
                src="https://images.cdn1.stockunlimited.net/preview1300/set-of-abstract-logo-elements_1939319.jpg"
                width="100" height="155">
            <div class="card-body">
                <h5 class="card-title" style="color: #000;"> Abstract Logo </h5>
                <button type="submit" class="btn btn-info" style="float:left">View</button>
                <button class="btn btn-danger" style="float:right">Remove</button>
            </div>
        </div>
    </div>
    <!-- Product-3 -->
    <div class="item mr-2">
        <div class="card">
            <img class="card-img-top" src="https://th.bing.com/th/id/OIP.STpCrwQGL049wi_VT6YuWQHaFj?pid=ImgDet&rs=1"
                width="100" height="155">
            <div class="card-body">
                <h5 class="card-title" style="color: #000;"> Mascot Logo </h5>
                <button type="submit" class="btn btn-info" style="float:left">View</button>
                <button class="btn btn-danger" style="float:right">Remove</button>
            </div>
        </div>
    </div>

</div>

<!-- Second Portion -->
<div class="container-fluid rounded my-2">
    <div class="row">
            <h3 class="col-sm-8">Find Consultant</h3>
        <div class="input-group col-sm-4 my-1">
            <input class="form-control" type="search" placeholder="search">
            <span class="input-group-append">
              <button class="form-control btn btn-outline-secondary" type="button">
                  <i class="fa fa-search"></i>
              </button>
            </span>
      </div>
    </div>
</div>

<div class="wrapper">
    <!-- Product-1 -->
    <div class="item mr-2">
        <div class="card">
            <img class="card-img-top" src="https://th.bing.com/th/id/OIP.N_QuR94NnoxktbrCAr_yVAHaHa?pid=ImgDet&rs=1"
                width="100" height="155">
            <div class="card-body">
                <h5 class="card-title" style="color: #000;"> Monogram </h5>
                <button type="submit" class="btn btn-primary" style="float:left"><i class="fas fa-user-md"></i></button>
                <button class="btn btn-success" style="float:right">Connect <i class="fas fa-user-plus"></i></button>
            </div>
        </div>
    </div>
    <!-- Product-2 -->
    <div class="item mr-2">
        <div class="card">
            <img class="card-img-top"
                src="https://images.cdn1.stockunlimited.net/preview1300/set-of-abstract-logo-elements_1939319.jpg"
                width="100" height="155">
            <div class="card-body">
                <h5 class="card-title" style="color: #000;"> Abstract Logo </h5>
                <button type="submit" class="btn btn-primary" style="float:left"><i class="fas fa-user-md"></i></button>
                <button class="btn btn-success" style="float:right">Connect <i class="fas fa-user-plus"></i></button>
            </div>
        </div>
    </div>
    <!-- Product-3 -->
    <div class="item mr-2">
        <div class="card">
            <img class="card-img-top" src="https://th.bing.com/th/id/OIP.STpCrwQGL049wi_VT6YuWQHaFj?pid=ImgDet&rs=1"
                width="100" height="155">
            <div class="card-body">
                <h5 class="card-title" style="color: #000;"> Mascot Logo </h5>
                <button type="submit" class="btn btn-primary" style="float:left"><i class="fas fa-user-md"></i></button>
                <button class="btn btn-success" style="float:right">Connect <i class="fas fa-user-plus"></i></button>
            </div>
        </div>
    </div>

    <!-- extra  -->


    <!-- Product-1 -->
    <div class="item mr-2">
        <div class="card">
            <img class="card-img-top" src="https://th.bing.com/th/id/OIP.N_QuR94NnoxktbrCAr_yVAHaHa?pid=ImgDet&rs=1"
                width="100" height="155">
            <div class="card-body">
                <h5 class="card-title" style="color: #000;"> Monogram </h5>
                <button type="submit" class="btn btn-primary" style="float:left"><i class="fas fa-user-md"></i></button>
                <button class="btn btn-success" style="float:right">Connect <i class="fas fa-user-plus"></i></button>
            </div>
        </div>
    </div>
    <!-- Product-2 -->
    <div class="item mr-2">
        <div class="card">
            <img class="card-img-top"
                src="https://images.cdn1.stockunlimited.net/preview1300/set-of-abstract-logo-elements_1939319.jpg"
                width="100" height="155">
            <div class="card-body">
                <h5 class="card-title" style="color: #000;"> Abstract Logo </h5>
                <button type="submit" class="btn btn-primary" style="float:left"><i class="fas fa-user-md"></i></button>
                <button class="btn btn-success" style="float:right">Connect <i class="fas fa-user-plus"></i></button>
            </div>
        </div>
    </div>
    <!-- Product-3 -->
    <div class="item mr-2">
        <div class="card">
            <img class="card-img-top" src="https://th.bing.com/th/id/OIP.STpCrwQGL049wi_VT6YuWQHaFj?pid=ImgDet&rs=1"
                width="100" height="155">
            <div class="card-body">
                <h5 class="card-title" style="color: #000;"> Mascot Logo </h5>
                <button type="submit" class="btn btn-primary" style="float:left"><i class="fas fa-user-md"></i></button>
                <button class="btn btn-success" style="float:right">Connect <i class="fas fa-user-plus"></i></button>
            </div>
        </div>
    </div>
    <!-- Product-1 -->
    <div class="item mr-2">
        <div class="card">
            <img class="card-img-top" src="https://th.bing.com/th/id/OIP.N_QuR94NnoxktbrCAr_yVAHaHa?pid=ImgDet&rs=1"
                width="100" height="155">
            <div class="card-body">
                <h5 class="card-title" style="color: #000;"> Monogram </h5>
                <button type="submit" class="btn btn-primary" style="float:left"><i class="fas fa-user-md"></i></button>
                <button class="btn btn-success" style="float:right">Connect <i class="fas fa-user-plus"></i></button>
            </div>
        </div>
    </div>
    <!-- Product-2 -->
    <div class="item mr-2">
        <div class="card">
            <img class="card-img-top"
                src="https://images.cdn1.stockunlimited.net/preview1300/set-of-abstract-logo-elements_1939319.jpg"
                width="100" height="155">
            <div class="card-body">
                <h5 class="card-title" style="color: #000;"> Abstract Logo </h5>
                <button type="submit" class="btn btn-primary" style="float:left"><i class="fas fa-user-md"></i></button>
                <button class="btn btn-success" style="float:right">Connect <i class="fas fa-user-plus"></i></button>
            </div>
        </div>
    </div>
    <!-- Product-3 -->
    <div class="item mr-2">
        <div class="card">
            <img class="card-img-top" src="https://th.bing.com/th/id/OIP.STpCrwQGL049wi_VT6YuWQHaFj?pid=ImgDet&rs=1"
                width="100" height="155">
            <div class="card-body">
                <h5 class="card-title" style="color: #000;"> Mascot Logo </h5>
                <button type="submit" class="btn btn-primary" style="float:left"><i class="fas fa-user-md"></i></button>
                <button class="btn btn-success" style="float:right">Connect <i class="fas fa-user-plus"></i></button>
            </div>
        </div>
    </div>
</div>

<!-- Appointment Modal  -->

<div class="modal fade" id="appointmentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" style="margin-top: 17%;">
        <div class="modal-content">
            <div class="modal-body form-modal">
                <form action="">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4>Appointment</h4>
                    <div class="row">
                        <div class="col-sm-9 mb-2">
                            <label for="patientName">Doctor Name</label>
                            <input id="patientName" class="form-control rounded col-xs-12" type="text"
                                placeholder="Doctor Name" disabled>
                        </div>
                        <div class="col-sm-3 mb-2">
                            <label for="appointmentDate">Date</label>
                            <input id="appointmentDate" class="form-control" type="date" class="form-control rounded"
                                name="appointmentDate" value="">
                        </div>
                        <div class="col-sm-9 mb-2">
                            <textarea id="describeIllness" rows="4" class="form-control rounded col-xs-12" type="text"
                                placeholder="Describe your Illness"></textarea>
                        </div>
                        <div class="col-sm-3 mb-2">
                            <select id="serialWiseTime" name="serialWiseTime" class="form-control">
                                <option value="0" selected disabled>Time</option>
                                <option value="">11:10 AM</option>
                                <option value="">01:10 PM</option>
                                <option value="">03:10 PM</option>
                            </select>
                        </div>
                        <!-- TODO: when doc is available -->
                        <div class="col-sm-12 col-xs-height">
                            <input type="text" placeholder="TODO: When doc is available" disabled>
                        </div>
                        <div class="col-sm-12 col-xs-height">
                            <div>
                                <button class="btn btn-warning mt-2" type="button">Check Time Conflict</button>
                                <button style="float: right" class="btn btn-success mt-2" type="submit">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<%- include('../partials/footer.ejs') %>