<%- include('../partials/head.ejs') %>

<%- include('../partials/navbar.ejs') %>

<%- include('../partials/profileView.ejs') %>

<%- include('../partials/profileNavbar.ejs') %>

<style>
    .dropbtn {
        background-color: #04AA6D;
        color: white;
        text-align: center;
        border: none;
        cursor: pointer;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        right: 0;
        background-color: #f9f9f9;
        min-width: 360px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #f1f1f1;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: #3e8e41;
    }
</style>

<div class="container-fluid rounded my-2">
    <div class="row">
            <h3 class="col-sm-8">Diagnostic Reports</h3>
        <div class="input-group col-sm-4 my-1">
            <input class="form-control" type="search" placeholder="search">
            <span class="input-group-append">
              <button class="form-control btn btn-outline-secondary" type="button">
                  <i class="fa fa-search"></i>
              </button>
            </span>
      </div>
    </div>
</div>


<table id="precribeTable" class="container table">
    <thead>
        <tr>
            <th style="width:50%" scope="col">Name</th>
            <th scope="col">Diagnostic Date</th>
            <th scope="col">Report</th>
            <th style="width:  1%" scope="col">Option</th>
        </tr>
    </thead>
    <tbody id="productList">
        <tr>
            <td><input type="button" data-toggle="modal" data-target="#diagnosticsFormModal" class="form-control btn btn-dark" name="test_name[]" value="Test Name" id='testname-0'>
            </td>
            <td><input type="button" data-toggle="modal" data-target="#diagnosticsFormModal" class="form-control btn btn-dark" value="<%= new Date().toDateString() %>" name=""></td>
            <td><input type="button" class="form-control btn btn-info" name="" id="" value="View Report"></td>
            <td class="dropdown">
                <input type="button" class="form-control dropbtn btn btn-warning" name="" id="" value="...">
                <div class="dropdown-content">
                    <a target="_blank" href="/profile/diagnosticReportUpload">UPLOAD</a>
                    <a href="#" onclick="copyToClipboard()">GET UPLOAD LINK</a>
                    <a href="#" data-toggle="modal" data-target="#labReportRqstModal">REQUEST FOR A LAB REPORT</a>
                    <a href="#">REMOVE</a>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<input type="text" id="myInput" style="opacity: 0;" value="localhost:3000/profile/diagnosticReportUpload">

<!-- Diagnostics Modal  -->

<div class="modal fade" id="diagnosticsFormModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" style="margin-top: 17%;">
        <div class="modal-content">
            <div class="modal-body form-modal">
                <form action="">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4>Check Diagnostic</h4>
                    <div class="row">
                        <div class="col-sm-9 mb-2">
                            <div>
                                <label for="patientName">Patient Name</label>
                                <input id="patientName" class="form-control rounded col-xs-12" type="text"
                                    placeholder="Patient Name" disabled>

                            </div>
                        </div>
                        <div class="col-sm-3 mb-2">
                            <label for="tDate">Date</label>
                            <input id="tDate" class="form-control" type="text" class="form-control rounded"
                                name="prescribedDate" value="<%= new Date().toDateString() %>" disabled>
                        </div>
                        <div class="col-sm-3 mb-2">
                            <div>
                                <label for="pDOB">Date Of Birth</label>
                                <input id="pDOB" class="form-control rounded col-xs-12" type="date"
                                    placeholder="Date of Birth" disabled>
                            </div>
                        </div>
                        <div class="col-sm-3 mb-2">
                            <label for="pAge">Age</label>
                            <input id="pAge" type="number" class="form-control rounded" name="patientAge"
                                placeholder="Age" value="" disabled>
                        </div>
                        <div class="col-sm-3 mb-2">
                            <label for="pSex">Sex</label>
                            <input id="pSex" type="text" class="form-control rounded" name="paitientSex"
                                placeholder="Sex" value="" disabled>
                        </div>
                        <div class="col-sm-3 mb-2">
                            <label for="pOccupation">Occupation</label>
                            <input id="pOccupation" type="text" class="form-control rounded" name="paitientOccupation"
                                placeholder="Occupation" value="" disabled>
                        </div>
                        <div class="col-sm-9 mb-2">
                            <label for="pAddress">Address</label>
                            <input id="pAddress" type="text" class="form-control rounded" name="paitientOccupation"
                                placeholder="Address" value="" disabled>
                        </div>
                        <div class="col-sm-3 mb-2">
                            <label for="pPhoneNum">Cell No</label>
                            <input id="pPhoneNum" type="number" class="form-control rounded" name="paitientOccupation"
                                placeholder="Phone Number" value="" disabled>
                        </div>
                        <div class="col-sm-12 mb-2">
                            <label for="pPhoneNum">Prescribed By</label>
                            <input id="pPhoneNum" type="number" class="form-control rounded" name="paitientOccupation"
                                placeholder="Consultant Doctor" value="" disabled>
                        </div>
                        <div class="col-sm-12 text-center col-xs-height">
                            <div>
                                <input id="dName" class="form-control rounded col-xs-12 mb-2" type="text"
                                    name="diseaseName" placeholder="Test Name" value="" disabled>
                                <textarea class="form-control rounded mb-2" name="" id="" cols="30" rows="3"
                                    name="diseaseName" placeholder="Test Description" disabled></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<!-- Lab Report Request Modal  -->

<div class="modal fade" id="labReportRqstModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="margin-top: 17%;">
        <div class="modal-content">
            <div class="modal-body form-modal">
                <form action="">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4>Create a Diagnostic Report</h4>
                    <div class="row">
                        <div class="col-sm-9 mb-2">
                            <div>
                                <label for="patientName">Patient Name</label>
                                <input id="patientName" class="form-control rounded col-xs-12" type="text"
                                    placeholder="Patient Name" disabled>

                            </div>
                        </div>
                        <div class="col-sm-3 mb-2">
                            <label for="tDate">Date</label>
                            <input id="tDate" class="form-control" type="text" class="form-control rounded"
                                name="prescribedDate" value="<%= new Date().toDateString() %>" disabled>
                        </div>
                        <div class="col-sm-3 mb-2">
                            <div>
                                <label for="pDOB">Date Of Birth</label>
                                <input id="pDOB" class="form-control rounded col-xs-12" type="date"
                                    placeholder="Date of Birth" disabled>
                            </div>
                        </div>
                        <div class="col-sm-3 mb-2">
                            <label for="pAge">Age</label>
                            <input id="pAge" type="number" class="form-control rounded" name="patientAge"
                                placeholder="Age" value="" disabled>
                        </div>
                        <div class="col-sm-3 mb-2">
                            <label for="pSex">Sex</label>
                            <input id="pSex" type="text" class="form-control rounded" name="paitientSex"
                                placeholder="Sex" value="" disabled>
                        </div>
                        <div class="col-sm-3 mb-2">
                            <label for="pOccupation">Occupation</label>
                            <input id="pOccupation" type="text" class="form-control rounded" name="paitientOccupation"
                                placeholder="Occupation" value="" disabled>
                        </div>
                        <div class="col-sm-9 mb-2">
                            <label for="pAddress">Address</label>
                            <input id="pAddress" type="text" class="form-control rounded" name="paitientOccupation"
                                placeholder="Address" value="" disabled>
                        </div>
                        <div class="col-sm-3 mb-2">
                            <label for="pPhoneNum">Cell No</label>
                            <input id="pPhoneNum" type="number" class="form-control rounded" name="paitientOccupation"
                                placeholder="Phone Number" value="" disabled>
                        </div>
                        <div class="col-sm-12 mb-2">
                            <label for="pPhoneNum">Prescribed By</label>
                            <input id="pPhoneNum" type="number" class="form-control rounded" name="paitientOccupation"
                                placeholder="Consultant Doctor" value="" disabled>
                        </div>
                        <div class="col-sm-12 text-center col-xs-height">
                            <div>
                                <input id="dName" class="form-control rounded col-xs-12 mb-2" type="text"
                                    name="diseaseName" placeholder="Test Name" value="" disabled>
                                <textarea class="form-control rounded mb-2" name="" id="" cols="30" rows="3"
                                    name="diseaseName" placeholder="Test Description" disabled></textarea>
                            </div>
                        </div>
                        <div class="col-sm-4 mb-2">
                            <input class="form-check-input ml-2 mt-3 mb-0" onClick="getSelectedField()" id="r1" type="radio" name="inlineRadioOptions">
                            <select style="margin-left: 24px; width:93%;" class="form-control" name="findDrugStore" id="findDrugStore">
                                <option value="1" selected="selected" disabled>Find Lab Store:</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <div class="col-sm-4 mb-2 form-check form-switch">
                            <input class="form-check-input mt-3 mb-0" onClick="getSelectedField()" type="radio" onClick="getSelectedField()" id="r2" name="inlineRadioOptions">
                            <input id="newDragStoreEmail" type="email" class="form-control rounded"
                                name="newDragStoreEmail" value="" placeholder="Email your drug store">
                        </div>
                        <div class="form-check form-switch col-sm-4 mt-2">
                            <input class="form-check-input" onClick="getSelectedField()" id="r3" type="radio" name="inlineRadioOptions">
                            <label class="form-check-label" for="r3">Recommended Lab Store</label>
                        </div>
                        <div class="col-sm-12 col-xs-height">
                            <div>
                                <button style="float: right" class="btn btn-success" type="submit">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>


<script>
    function copyToClipboard() {
        /* Get the text field */
        var copyText = document.getElementById("myInput");;

        /* Select the text field */
        copyText.select();
        copyText.setSelectionRange(0, 99999); /* For mobile devices */

        /* Copy the text inside the text field */
        document.execCommand("copy");

        /* Alert the copied text */
        alert("Upload link has been copied\n" + copyText.value);
    }

    function getSelectedField() {
        if (document.getElementById('r1').checked) {
            document.getElementById("findDrugStore").disabled = false;
            document.getElementById("newDragStoreEmail").disabled = true;
            if(document.getElementById("newDragStoreEmail").value.length > 0){
                document.getElementById("newDragStoreEmail").value = "";
            }
        }
        if (document.getElementById('r2').checked) {
            document.getElementById("findDrugStore").disabled = true;
            document.getElementById("newDragStoreEmail").disabled = false;
            document.querySelector('option[value="1"]').selected = true;
        }
        if (document.getElementById('r3').checked) {
            document.getElementById("newDragStoreEmail").disabled = true;
            document.getElementById("findDrugStore").disabled = true;
            if(document.getElementById("newDragStoreEmail").value.length > 0){
                document.getElementById("newDragStoreEmail").value = "";
            }
            document.querySelector('option[value="1"]').selected = true;
        }
    }
</script>
<%- include('../partials/footer.ejs') %>