<%- include('../partials/head.ejs') %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.min.css">
<%- include('../partials/navbar.ejs') %>

<form style="margin-top: 40px;" class="container" action="/profile/edit/<%=loggedInUser._id%>?_method=PATCH"
  method="POST">
  <div class="form-row mb-3">
    <div class="col">
      <h3 style="text-align: center;">Edit General Info:</h3>
    </div>
  </div>
  <div class="form-row mb-3">
    <div class="col">
      <label for="UserName">Username: </label>
      <input type="text" id="UserName" class="form-control" placeholder="Username" value="<%= loggedInUser.username %>"
        disabled>
    </div>
    <div class="col">
      <label for="emailId">Email: </label>
      <input type="text" id="emailId" class="form-control" placeholder="Email" name="email"
        value="<%= loggedInUser.email %>" required>
    </div>
  </div>
  <div class="form-row mb-3">
    <div class="col">
      <label for="fName">First Name: </label>
      <input id="fName" type="text" class="form-control" placeholder="firstname" name="firstname"
        value="<%= loggedInUser.firstname %>" required>
    </div>
    <div class="col">
      <label for="lName">Last Name: </label>
      <input id="lName" type="text" class="form-control" placeholder="lastname" name="lastname"
        value="<%= loggedInUser.lastname %>" required>
    </div>
  </div>
  <button style="float: right;" type="submit" class="btn btn-outline-success">Update</button>
</form>
<form style="margin-top: 40px;" class="container" action="" method="POST">
  <div class="form-row mb-3">
    <div class="col">
      <h3 style="text-align: center;">Change Password:</h3>
    </div>
  </div>
  <div class="form-row mb-3">
    <div class="col">
      <input type="text" class="form-control" placeholder="Enter Old Password" name="OldPassword" required>
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Enter New Password" name="newPassword" required>
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Confirm New Password" name="password" required>
    </div>
  </div>
  <button style="float: right;" type="submit" class="btn btn-outline-success">Save</button>
</form>

<div class="form-row mt-3">
  <div class="col">
    <h3 style="text-align: center;">Provide Personal Info to create articles:</h3>
  </div>
</div>
<div class="form-row mb-3">
  <div class="col">
    <div class="imgContainer">
      <img class="propic-edit mb-6" src="../images/profilePic.jpeg" alt="Profile Picture">
      <button type="button" class="profilePictureBtn" data-toggle="modal" data-target="#imgUploadModal">
        <i class="fas fa-camera profilePictureImg"></i>
      </button>
    </div>
  </div>
</div>

<form style="margin-top: 40px;" class="container" action="/profile/edit/<%=loggedInUser._id%>?_method=PATCH"
  method="POST">
  <!-- <div class="form-row mb-3">
    <div class="col">
      <h3 style="text-align: center;">Provide Personal Info to create articles:</h3>
    </div>
  </div>
  <div class="form-row mb-3">
    <div class="col">
      <div class="imgContainer">
        <img class="propic-edit mb-6" src="../images/profilePic.jpeg" alt="Profile Picture">
        <button type="button" class="profilePictureBtn" data-toggle="modal" data-target="#imgUploadModal">
          <i class="fas fa-camera profilePictureImg"></i>
        </button>
      </div>
    </div>
  </div> -->
  <div class="form-row mb-3">
    <div class="col">
      <label for="dob">Date Of Birth:</label>
      <input id="dob" type="date" class="form-control" placeholder="Date of Birth" name="dateofbirth"
        value="<%= JSON.stringify(loggedInUser.dateofbirth).substr(1,10) !== '1000-12-09' ? JSON.stringify(loggedInUser.dateofbirth).substr(1,10) : '' %>"
        required>
    </div>
    <div class="col">
      <label for="gender">Gender:</label>
      <!-- <input id="sex" type="text" class="form-control" placeholder="Gender" list="gender" name="gender"
        value="" required /> -->
      <select class="form-control" name="gender" id="gender">
        <option> <%= loggedInUser.gender !== 'Gender' ? loggedInUser.gender : '' %> </option>
        <option value="Male" <% if(loggedInUser.gender === 'Male'){ %> style="display: none;" <% } %>>Male</option>
        <option value="Female" <% if(loggedInUser.gender === 'Female'){ %> style="display: none;" <% } %>>Female
        </option>
        <option value="Transgender" <% if(loggedInUser.gender === 'Transgender'){ %> style="display: none;" <% } %>>
          Transgender</option>
      </select>
    </div>
  </div>
  <div class="form-row mb-3">
    <div class="col">
      <label for="countryInfo">Country:</label>
      <input id="countryInfo" type="text" class="form-control" name="country" placeholder="Country"
        value="<%= loggedInUser.country !== 'Country' ? loggedInUser.country : '' %>" required>
    </div>
    <div class="col">
      <label for="cityInfo">City:</label>
      <input id="cityInfo" type="text" class="form-control" name="city" placeholder="City"
        value="<%= loggedInUser.city !== 'City' ? loggedInUser.city : '' %>" required>
    </div>
    <div class="col">
      <label for="zipId">Zip:</label>
      <input id="zipId" type="text" class="form-control" name="zip" placeholder="Zip"
        value="<%= loggedInUser.zip !== 'zip' ? loggedInUser.zip : '' %>" required>
    </div>
    <div class="col">
      <label for="phone_number">Phone Number:</label>
      <input id="phone_number" type="number" class="form-control" name="phone" placeholder="Phone Number"
        value="<%= loggedInUser.phone !== '0' ? loggedInUser.phone : '' %>" required>
    </div>
  </div>
  <div class="form-row mb-3">
    <div class="col">
      <label for="dadId">Parents ID Father:</label>
      <input id="dadId" type="text" class="form-control" name="fatherId" value="<%= loggedInUser.fatherId %>"
        placeholder="Parents Username Father (Optional)">
    </div>
    <div class="col">
      <label for="momId">Parents ID Mother:</label>
      <input id="momId" type="text" class="form-control" name="mohterId" value="<%= loggedInUser.mohterId %>"
        placeholder="Parents Username Mother (Optional)">
    </div>
  </div>
  <div class="form-row mb-3">
    <div class="col">
      <label for="spouseID">Spouse ID</label>
      <input id="spouseID" type="text" class="form-control" name="spouseId" value="<%= loggedInUser.spouseId %>"
        placeholder="Spouse Username (Optional)">
    </div>
    <div class="col">
      <label for="childID">Child ID:</label>
      <input id="childID" type="text" class="form-control" name="childId" value="<%= loggedInUser.childId %>"
        placeholder="Separated by comma (Optional)">
    </div>
  </div>

  <ul class="row list-unstyled mb-3" id="addLang">
    <li class="col-sm-12">
      <select class="form-control" name="findDrugStore" id="findDrugStore">
        <option value="1" selected="selected" disabled>Add Language:</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </li>
  </ul>
  <button type="button" id="addLangBtn" class="btn btn-outline-primary">Add More Language</button>
  <button style="float: right;" type="submit" class="btn btn-outline-success">Save</button>
</form>


<!-- Profile Pic Upload Modal -->
<div class="modal fade" role="dialog" id="imgUploadModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Upload a new profile picture</h3>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
      </div>

      <!--Body-->
      <div class="container modal-body" id="imgUploadModal">
        <input type="file" name="filePhoto" id="filePhoto" accept="image/*">
        <div class="imagePreviewContainer mt-3">
          <img src="" id="imagePreview" alt="">
        </div>
      </div>
      <!-- footer  -->
      <div class="modal-footer">
        <button id="imageUploadBtn" type="button" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Emergency Contact  -->

<form style="margin-top: 40px;" class="container" action="/profile/edit/<%=loggedInUser._id%>?_method=PATCH"
  method="POST">
  <div class="form-row mb-3">
    <div class="col">
      <h3 style="text-align: center;">Emergency Contact Info:</h3>
    </div>
  </div>
  <div class="row mb-3">
    <table class="table-responsive">
      <thead>
        <tr class="item_header bg-gradient-directional-amber">
          <th width="35%" class="text-center">Name</th>
          <th width="25%" class="text-center">Phone</th>
          <th width="20%" class="text-center">Relationship</th>
          <th width="4%" class="text-center">Action</th>
        </tr>
      </thead>
      <tbody id="addEmergencyContactRow">
        <tr>
          <td>
            <input type="text" class="form-control" name="emergencyContactName[]" id="emergencyContactName1"
              class="form-control text-center" placeholder="Full Name" required>
          </td>
          <td>
            <input type="text" class="form-control" name="emergencyPhone[]" id="emergencyPhone1"
              placeholder="e.g: 0187xxxxxxx" required>
          </td>
          <td>
            <input type="text" class="form-control" name="relationship[]" id="relationship1"
              placeholder="e.g: Mother/Father/Brother/Sister" required>
          </td>
          <td>
            <button class="btn btn-danger" type="reset">Remove</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <button class="btn btn-warning" type="button" id="addEmergencyContactBtn" disabled>Add Contact</button>
  <button style="float: right;" type="submit" class="btn btn-outline-success">Save</button>
</form>

<!-- Doctor Info  -->

<form style="margin-top: 40px;" class="container" action="/profile/edit/<%=loggedInUser._id%>?_method=PATCH"
  method="POST">
  <div class="form-row mb-3">
    <div class="col">
      <h3 style="text-align: center;">Professional Info (Applicable if you are a Doctor):</h3>
    </div>
  </div>
  <div class="form-row mb-3">
    <div class="col">
      <label for="lcNo">License No:</label>
      <input id="lcNo" type="text" class="form-control" placeholder="License No" name="license_no"
        value="<%= loggedInUser.license_no !== '0' ? loggedInUser.license_no : '' %>" required>
    </div>
    <div class="col">
      <label for="uni">Graduating University:</label>
      <input id="uni" type="text" class="form-control" name="university" placeholder="Graduating University"
        value="<%= loggedInUser.university !== 'University' ? loggedInUser.university : '' %>" required>
    </div>
  </div>
  <div class="form-row mb-3">
    <div class="col">
      <label for="refNo">Reference ID:</label>
      <input id="refNo" type="text" class="form-control" placeholder="Separated by comma" name="reference_no"
        value="<%= loggedInUser.reference_no[0] !== '(Seperated By Comma)' ? loggedInUser.reference_no : '' %>"
        required>
    </div>
    <div class="col">
      <label for="dept_doc">Department:</label>
      <input id="dept_doc" type="text" class="form-control" name="dept_doc"
        value="<%= loggedInUser.dept_doc !== 'dept' ? loggedInUser.dept_doc : '' %>" required>
    </div>
    <div class="col">
      <label for="fileUpload">Credentials:</label>
      <input id="fileUpload" type="file" class="form-control" name="fileUpload" multiple>
    </div>
  </div>
  <button style="float: right;" type="submit" class="btn btn-outline-success">Update</button>
</form>
<script>
  $('#addLangBtn').on('click', function () {
    let addLang = `<li class="col-sm-12">
      <select class="form-control" name="findDrugStore" id="findDrugStore">
        <option value="1" selected="selected" disabled>Add Language:</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </li>`
    $("#addLang").append(addLang);
  })


  let addContactBtn = document.getElementById('addEmergencyContactBtn')
  $('#addEmergencyContactRow').on('click', function () {
    var $td = $(this).closest('tr').find('td');
    var part_name = $td.eq(1).text();
    console.log(part_name);
  })

  let x = 1;
  let i = j = k = 0;
  $(document).ready(function () {
    $('#addEmergencyContactBtn').click(function () {
      x += 1;
      let addContact = `<tr>
          <td>
            <input type="text" class="form-control" name="emergencyContactName" id="emergencyContactName${x}"
              class="form-control text-center" placeholder="Full Name" required>
          </td>
          <td>
            <input type="text" class="form-control" name="emergencyPhone" id="emergencyPhone${x}"
              placeholder="e.g: 0187xxxxxxx" required>
          </td>
          <td>
            <input type="text" class="form-control" name="relationship" id="relationship${x}"
              placeholder="e.g: Mother/Father/Brother/Sister" required>
          </td>
          <td>
            <button class="btn btn-danger" type="reset">Remove</button>
          </td>
        </tr>`
      $("#addEmergencyContactRow").append(addContact);
      console.log('x', x);
      i = j = k = 0;
      addContactBtn.disabled = true;
    })

    $('#addEmergencyContactRow').on('keyup', '.Invquantity', function () {
      var tr = $(this).parent().parent();
      alert("eded");
    })
  })
  $(document).ready(function () {
    $("#emergencyContactName" + x).keypress(function () {
      i += 1;
      console.log('x', x);
      console.log("i", i, "j", j, "k", k)
      if (i > 2 && j > 2 && k > 2) {
        console.log('if conditon working')
        addContactBtn.disabled = false;
      }
    });
    $("#emergencyPhone" + x).keypress(function () {
      j += 1;
      console.log("i", i, "j", j, "k", k)
      if (i > 2 && j > 2 && k > 2) {
        console.log('if conditon working')
        addContactBtn.disabled = false;
      }
    });
    $("#relationship" + x).keypress(function () {
      k += 1;
      console.log("i", i, "j", j, "k", k)
      if (i > 2 && j > 2 && k > 2) {
        console.log('if conditon working')
        addContactBtn.disabled = false;
      }
    });
    // console.log("z", z);
    // if(i > 2 && j > 2 && k > 2){
    //   console.log('if conditon working')
    //   addContactBtn.disabled = false;
    // }
  });

  // console.log("Last", i, j, k);
  // if(i > 3 && j > 3 && k > 2){
  //   console.log('if conditon working')
  //   addContactBtn.disabled = false;
  // }
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.min.js"></script>

<script>
  let cropper;

  $("#filePhoto").change(function () {
    if (this.files && this.files[0]) {
      let reader = new FileReader();
      reader.onload = (e) => {
        let img = document.getElementById("imagePreview");
        img.src = e.target.result;

        if (cropper !== undefined) {
          cropper.destroy()
        }
        cropper = new Cropper(img, {
          aspectRatio: 1 / 1,
          background: false
        });
      }
      reader.readAsDataURL(this.files[0]);
    }
  })

  $("#imageUploadBtn").click(() => {
    let canvas = cropper.getCroppedCanvas();
    if (canvas == null) {
      alert("Could not upload image. Make sure it is an image file.");
      return;
    }
    canvas.toBlob((blob) => {
      let formData = new FormData();
      formData.append("croppedImage", blob);
      console.log(canvas);
      console.log(formData);
      $.ajax({
        url: "/profile/edit/profilePicture",
        type: "POST",
        data: formData,
        cache: false,
        processData: false,
        currentType: false,
        success: (data) => {
          console.log(data);
          location.reload();
        },
        error: (err) => {
          console.log(err);
        }
      })
    });
  })
</script>
<%- include('../partials/footer.ejs') %>